@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<div class="box">
    <h1>Hello, Chief</h1>
</div>

<br />
<br />
<br />

<div class="box btn-box">
    <h2>Admin operations</h2><br />
    <div class="row">
        <div class="col">
            <a class="btn btn-outline-light" asp-action="Index" asp-controller="ServiceProvider">Add Service</a>
        </div>
        <div class="col">
            <a class="btn btn-outline-light" asp-action="Index" asp-controller="Plan">Add a Plan</a>
        </div>
        <div class="col">
            <a class="btn btn-outline-light" asp-action="Index" asp-controller="Admin">Add Admin</a>
        </div>
        <div class="col">
            <a class="btn btn-outline-light" asp-action="Index" asp-controller="SelectedPlan">Plan List</a>
        </div>
    </div>
    
</div>