@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<div class="border-5 box">
    <h1>Recover your account</h1><br />
        @if (""+ViewData["email"] == "")
        {
            <form asp-action="ForgotPassword">
                <div class="row">
                    <div class="form-group col">
                        <label>Email address</label>
                        <input type="email" class="form-control" name="email" aria-describedby="emailHelp" placeholder="Enter email" required>
                    </div>
                    <div class="form-group col">
                        <button class="btn btn-success col-10" type="submit" style="margin-top: 23px;">Get OTP</button>
                    </div>
                </div>
            </form>
        }
        else
        {
            <div class="form-group">
                <input disabled value="@(ViewData["email"])"/>
            </div>
            <form asp-action="ValidateOTP">
                <div class="row">
                    <div class="form-group col">
                        <input type="number" name="userOTP" placeholder="Enter OTP" />
                    </div>
                    <div class="form-group col">
                        <button type="submit" name="userOTP">Validate</button>
                    </div>
                </div>
            </form>
        }


    

        <br />
        <div class="form-group col-10">
            <label>New Password</label>
            <input type="password" class="form-control" name="password" placeholder="Password" required>
        </div><br />
        <div class="form-group col-10">
            <label>Confirm password</label>
            <input type="password" class="form-control" name="confirmpassword" placeholder="Password" required>
        </div><br />
        @if ("" + ViewData["err"] != "")
        {
            <p class="error-msg">@("" + ViewData["err"])</p>
        }
        <button type="submit" class="btn btn-primary">Submit</button><br /><br />
        <p>Not a member? <a asp-action="SignUp">Sign up</a></p>
    
</div>